.masthead .muted{
    background: #FFFFFF url("../img/logo.gif") no-repeat;
}
.masthead h3.muted{
    line-height: 60px;
    padding-left: 200px;
}
.footer .span4{
    font-size: 24px;
    line-height: 30px;
}
.thumbnail img{
    cursor: pointer;
}
li{
    font-size: 18px;
    line-height: 25px;
}
.form-signin {
    max-width: 300px;
    padding: 19px 29px 29px;
    margin: 0 auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin input[type="text"],
.form-signin input[type="password"] {
    font-size: 16px;
    height: auto;
    margin-bottom: 15px;
    padding: 7px 9px;
}
.rent{
    position: absolute;
    top:230px;
    left:150px;
}
.bookimg{
    height: 500px;
    width: 349px;
}
.bookqrcode{
    position: absolute;
    top:0px;
    left:0px;
}