#picfluid{
    list-style-type: none;
    position: relative; /** Needed to ensure items are laid out relative to this container **/
    margin: 0;
}
#picfluid li {
    background-color: #ffffff;
    border: 1px solid #dedede;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    display: none; /** Hide items initially to avoid a flicker effect **/
    cursor: pointer;
    padding: 4px;
}

#picfluid li img {
    display: block;
}